*{
    margin:0;
    padding:0;
}
nav{
    display:grid;
    grid-template-columns:auto 1fr;
    background-color: #333;
    padding:5px 10px;
}
.navlinks{
    display:grid;
    align-content: center;
    text-align:center;
    grid-template-columns:repeat(3, 1fr);
}
.navlinks li ,a{
    text-decoration:none;
    list-style:none;
    color:#fff;
    font-size:20px;
}
.tour-block{
    width:90vw;
    margin:50px auto;
    display:grid;
    grid-template-columns:repeat(4,1fr);
    grid-column-gap:20px;
}
.img-container{
    position:relative;
    border-radius:10px 10px 0 0; 
    overflow:hidden;
}
.img-container img{
    width:100%;
    display:block;
    transition:all linear 0.3s;
}
.img-container span{
    position:absolute;
    top:20px;
    right:20px;
    font-size:30px;
    color:blue;
    cursor:pointer;
    opacity:0;
    transition:all linear 0.3s;
}
.img-container:hover img{
    transform: scale(1.3,1.3) rotate(5deg);
}
.img-container:hover span{
    opacity:1;
}
.tour-detail{
    padding:20px;
    background-color: #e1e1e1;
    text-transform:uppercase;
}
.tour-detail h4{
    font-size:30px;
    color:rebeccapurple;
}
.tour-detail h5{
    font-size:15px;
    color:#000;
    margin:10px 0 20px;
}
.tour-detail h6{
    font-size:15px;
    color:#333;
}
.tour-detail h6 span{
    cursor:pointer;
}
